[Desktop Entry]
Version=1.0
Type=Application
Name=asfsaas
Comment=fadsg
Exec=asgdgsgs
Icon=/home/sasaki/.config/polybar/macos-high-sierra-siri-app-icon.png
Path=
Terminal=false
StartupNotify=false
